<div class="data-models-configuration" ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="activeTabIndex" >

            <md-tab ng-repeat="(key,dataModel) in vm.dataModels" label="{{dataModel.title}}" md-on-select="modelSectionSelected(key)">
                <md-content class="md-padding">
                    <div layout="row" class="tab-container">
                        <div flex="20">
                            <md-button class="md-raised md-primary" ng-click="addPreviewModel()">Create</md-button>
                            <md-list-item ng-repeat="dm in dataModel.data"
                                          ng-class="{active:($index === dataModel.activeIndex)}"
                                          ng-click="modelSelected(key,$index)">
                                <p> {{ '[' + dm.id + ']  ' + dm.name }} </p>
                                <!--
                                                                <md-checkbox class="md-secondary" ng-model="source.wanted"></md-checkbox>
                                -->
                            </md-list-item>
                        </div>
                        <md-card class="code-area">
                            <textarea ui-codemirror="editorOptions"
                                      ui-refresh="tabsRefresher.sources"
                                      ng-model="vm.dataModels[activeModelType].data[vm.dataModels[activeModelType].activeIndex]" json-parse>

                            </textarea>
                            <md-card-actions>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="saveOrUpdateModel()">Save</md-button>
                                    <md-button ng-click="deleteModel()">Delete</md-button>
                                </md-card-actions>
                            </md-card-actions>
                        </md-card>
<!--                        <div class="code-area">

                        </div>-->

                    </div>
                </md-content>
            </md-tab>
<!--            <md-tab label="Views">
                <md-content class="md-padding">
                    <div class="tab-container">
                        <textarea ui-codemirror="editorOptions" json-parse ui-refresh="tabsRefresher.views"
                                  ng-model="configs.dataViews">

                        </textarea>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Sets">
                <md-content class="md-padding">
                    <div class="tab-container">
                        <textarea ui-codemirror="editorOptions" json-parse ui-refresh="tabsRefresher.sets"
                                  ng-model="configs.dataSets">

                        </textarea>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Query">
                <md-content class="md-padding">
                    <div class="tab-container">
                        <textarea ui-codemirror="editorOptions" json-parse ui-refresh="tabsRefresher.query" ng-model="queryConfig">
                        </textarea>
                    </div>
                </md-content>
            </md-tab>-->
            <md-tab label="Query Results">
                <md-content class="md-padding">
                    <div class="tab-container">
                        {{queryResults}}
                        <div ui-grid="gridOptions" class="results-grid"></div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <div layout="row" layout-align="start center" class="controls-row">
        <md-button class="md-raised md-primary" ng-click="updateModels()">
            Update Models
        </md-button>
        <md-button class="md-raised md-primary" ng-click="generateReport()">
            Query
        </md-button>
        <div ng-show="showActionStatus">{{actionStatus}}</div>
    </div>
</div>