<div class="data-models-configuration" ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="activeTabIndex">
            <md-tab label="Sources" >
                <md-content class="md-padding">
                    <div class="tab-container">
                        <ui-codemirror name="dataSources" ui-codemirror-opts="editorOptions"  ng-model="configs.dataSources">

                        </ui-codemirror>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Views">
                <md-content class="md-padding">
                    <div class="tab-container">
                        <ui-codemirror name="dataSources" ui-codemirror-opts="editorOptions"  ng-model="configs.dataViews">

                        </ui-codemirror>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Sets">
                <md-content class="md-padding">
                    <div class="tab-container">
                        <ui-codemirror name="dataSources" ui-codemirror-opts="editorOptions"  ng-model="configs.dataSets">

                        </ui-codemirror>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Query Results">
                <md-content class="md-padding">
                    <div class="tab-container">
                        {{queryResults}}
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <div layout="row" layout-align="start center" class="controls-row">
        <md-button class="md-raised md-primary" ng-click="updateModels()">
            Update Models
        </md-button>
        <div ng-show="showActionStatus">{{actionStatus}}</div>
    </div>
</div>