.data-models-configuration {
  .tab-container {
    height:330px;
    width: 100%;
  }
  .results-grid {
    height: 100%;
    width: 100%;
  }
  .code-area {
    height:100%;
    width: 100%;
  }
  [role="tabpanel"],
  md-tabs {
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
  }
  .active {
    .md-button {
      background-color: rgba(158,158,158,0.2);
    }
  }
  .controls-row {
    .neutral {
      color:black;
    }
    .success {
      color: green;
    }
    .error {
      color: red;
    }
    .warning {
      color: orange;
    }
  }


}