.data-models-configuration {
  padding-top: 20px;
  .logo-img {
    width:200px;
    position: absolute;
    z-index: 1;
    top: 40px;
  }

  md-tabs-wrapper {
    padding-left: 25%;
    padding-top: 24px;
  }
  .tab-container {
    height:500px;
    width: 100%;

    .create-btn {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
  }
  .results-grid {
    height: 100%;
    width: 100%;
  }
  .code-area {
    height:100%;
    position: relative;
    .code-mode-buttons-container {
      background-color: rgba(255, 255, 255, 0.15);
      position: absolute;
      top: 0;
      z-index: 100;
      right: 0;
      height: 45px;
      width: 173px;
      border-radius: 0px 0px 0px 7px;
    }

  }
  [role="tabpanel"],
  md-tabs {
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
  }
  .active {
    .md-button {
      background-color: rgba(158,158,158,0.2);
    }
  }
  .controls-row {
    .neutral {
      color:black;
    }
    .success {
      color: green;
    }
    .error {
      color: red;
    }
    .warning {
      color: orange;
    }
  }


}